#root{
  display: flex;
  height: 500%;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.container{
  display: flex;
  height: 500%;
}
section.pricing {
  display: flex;
  }
  #root > section:nth-child(1) > div > div > div > div{
    border-radius: 2rem;
    width: 500%;
  }
  section.pricing:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    border-radius: 2rem;
    width: 500%;
  }
  section.pricing:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    border-radius: 2rem;
    width: 500%;
  }
.pricing  {
    width: 180%;
    border: none;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  .card{
    border: none;
    border-radius: 3rem;
  }
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  section.pricing:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > ul:nth-child(4) > li:nth-child(2) > span:nth-child(1){
    visibility: hidden;
  }
  html body div#root section.pricing.py-5 div.container div.row div.col-lg-4 div.card.mb-5.mb-lg-0{
    margin-left: 40%;
  }
  section.pricing:nth-child(3) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
    width: 500%;
  }
  #root > section:nth-child(3) > div > div > div > div{
    width: 440%;
    height: 560px;
  }
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }

